version: '3.7'

networks:
  mygp-net:
    external: true

services:
  app:
    restart: "no"
    env_file:
      - .envs/app.env
      - .envs/web.env
      - .envs/php-ini.env
    ports:
      - ${HTTP_PUBLISH_PORT}:80
      - ${HTTPS_PUBLISH_PORT}:443
    volumes:
      - ${DOCKER_VOLUME_APP_ROOT_DIR}:/var/www/html
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      mygp-net:
        aliases:
          - mygp-core

#  queue:
#    image: ${COMPOSE_PROJECT_NAME}_queue:${DOCKER_BUILD_MODE}
#    tty: true
#    stop_signal: SIGTERM
#    restart: "no"
#    environment:
#      - CONTAINER_ROLE=queue
#    networks:
#      - mygp-net
#
#  cron:
#    image: ${COMPOSE_PROJECT_NAME}_cron:${DOCKER_BUILD_MODE}
#    tty: true
#    stop_signal: SIGTERM
#    restart: "no"
#    environment:
#      - CONTAINER_ROLE=cron
#    networks:
#      - mygp-net